* {
  color: #38e4ae;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: linear-gradient(#121113, #020122);

  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav-link {
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
}

.contact-icons {
  margin: 0 25px 0 25px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 120px);
  grid-gap: 10px;
  flex: 2 60%;
  margin: 3.5%;
  line-height: 1.5;
}

.grid-item img:hover {
  opacity: 0.5;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid #38e4ae;
}

.grid-item {
  position: relative;
}

.dep-links {
  display: flex;
  justify-content: center;
  bottom: 5px;
  font-size: large;
  overflow-wrap: break-word;
  width: 130px;
  margin: 0 20px 0 20px;
}
