:root {
  --base: #222e50;
  --font: #ffd131;
  --accent-1: #2cda9d;
  --accent-2: #2a4849;
  --accent-3: #426b69;
}

* {
  color: var(--font);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  height: max-content;
  margin: 0;
}

body {
  background: url("./assets/images/header.png") center center no-repeat;
  background-size: auto;
  position: relative;
  background-attachment: fixed;
}
body:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: background 0.5s;
  background: rgba(34, 46, 80, 0.9);
}

.nav-link {
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.centered h1 {
  color: var(--accent-1);
}
.centered h5 {
  color: var(--accent-1);
}

.footer {
  display: flex;
  justify-content: center;
  margin: 100px 0 0 0;
}

.contact-icons {
  margin: 0 25px 0 25px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 150px);
  column-gap: 20px;
  row-gap: 150px;
  flex: 2 60%;
  margin: 3.5%;
  line-height: 1.5;
}

.dep-links :hover {
  opacity: 0.7;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid var(--accent-1);
}

.grid-item {
  position: relative;
}

.dep-links {
  display: flex;
  justify-content: space-evenly;
  bottom: 5px;
  font-size: xx-large;
  background-color: none;
  margin: 0 20px 0 20px;
  position: relative;
}

.desc {
  display: flex;
  justify-content: center;
  margin: 5px 0 0 0;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .nav {
    display: flex;
    justify-content: center;
  }
  .nav-brand {
    display: flex;
    justify-content: center;
  }
  .centered h1 {
    font-size: 20px;
  }
  .centered h5 {
    font-size: 10px;
  }
}
